<style>
    #changepass-wrapper {
        width: 700px;
    }
</style>
<div ng-controller="ChangePasswordController" id="changepass-wrapper"
    class="d-flex justify-content-center align-items-center">
    <div class="container p-4 d-flex rounded">
        <div class="login-container flex-grow-1 bg-light text-dark rounded fw-bold ms-2">
            <div class="d-flex flex-column align-items-center justify-content-center row p-2">
                <form name="changePasswordForm">
                    <h2 class="text-center m-2">Đổi mật khẩu</h2>
                    <div class="mb-4">
                        <label for="password_old" class="form-label">Mật khẩu cũ :</label>
                        <input type="password_old" class="form-control fs-5" id="password_old" name="password_old"
                            placeholder="Nhập mật khẩu cũ" required ng-model="password_old" />
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Mật khẩu mới :</label>
                        <input type="password" class="form-control fs-5" id="password" name="password"
                            placeholder="Nhập mật khẩu mới" required ng-model="password"
                            ng-change="validatePasswordMatch()" />
                    </div>
                    <div class="mb-4">
                        <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới :</label>
                        <input type="password" class="form-control fs-5" id="confirmPassword" name="confirmPassword"
                            placeholder="Xác nhận mật khẩu mới" ng-model="confirmPassword"
                            ng-change="validatePasswordMatch()" required />
                        <div
                            ng-show="changePasswordForm.confirmPassword.$error.passwordMismatch && changePasswordForm.confirmPassword.$dirty">
                            <span class="text-danger">Mật khẩu không khớp.</span>
                        </div>
                    </div>
                    <button type="button" ng-click="updatePassword()" class="btn btn-warning w-100 text-light fs-5">
                        Đổi mật khẩu
                        <i class="fa fa-id-card"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>