<style>
    #forgotpassword-wrapper {
        width: 700px;
    }
</style>
<div ng-controller="ForgotPasswordController" id="forgotpassword-wrapper"
    class="d-flex justify-content-center align-items-center">
    <div class="container p-4 d-flex rounded">
        <div class="login-container flex-grow-1 bg-light text-dark rounded fw-bold ms-2">
            <div class="d-flex flex-column align-items-center justify-content-center row p-2">
                <form name="forgotPasswordForm" ng-submit="getPassword()">
                    <h2 class="text-center m-2">Vui lòng nhập email</h2>
                    <div class="mb-4">
                        <input type="email" class="form-control fs-5" id="email" name="email"
                            placeholder="Nhập email đã đăng kí... " required ng-model="email" />
                    </div>
                    <button class="btn btn-warning w-100 text-light fs-5">
                        Gửi xác nhận Gmail
                        <i class="fa fa-id-card"></i>
                    </button>
                </form>

                <div ng-show="!!passwordRelease">
                    <div class="text-success">
                        Password của bạn là : {{passwordRelease}}
                        <a href="#!dangnhap">Login here</a>
                    </div>
                    <div class="text-danger">
                        Đây là ứng dụng bài tập, trong thực tế sẽ gửi OTP đến Gmail.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>