<div class="container" id="wrapper-introduce">
    <h1 class="text-center"> HỆ THỐNG QUIZ SYSTEM</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9 offset-md-2">
            <h2>WEBSITE câu hỏi trắc nghiệm</h2>
            <p>Chào mừng bạn đến với trang web câu hỏi trắc nghiệm! Chúng tôi cung cấp một nền tảng để bạn thử nghiệm kiến thức của mình qua các câu hỏi trắc nghiệm trên nhiều chủ đề khác nhau.</p>
            <p>Bạn có thể tham gia các bài kiểm tra có sẵn hoặc tạo ra bài kiểm tra của riêng mình để chia sẻ với cộng đồng. Hãy bắt đầu học và kiểm tra kiến thức của bạn ngay hôm nay!</p>
            <a href="#!quizzes" class="btn btn-primary">Bắt đầu kiểm tra</a>
        </div>
    </div>
</div>